@import "tailwindcss";
@font-face {
  font-family: myfont;
  src: url('/Lato-Black.ttf');
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #FF2D2D;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'MyFont', sans-serif;
}
motion.h1 {
  font-family: 'MyFont', sans-serif;
}
.input {
  @apply w-full px-4 py-3 rounded-lg bg-white/5 border border-white/10 text-white placeholder-gray-400 focus:outline-none focus:border-red-500 focus:ring-1 focus:ring-red-500 transition;
}